html {
    margin: 0 0;
    padding: 0 0;
    height: 100%;
}

body {
    margin: 0 0;
    padding: 2px 2px;
    height: 100%;
    color: #EEE;
    font-size: 13px;
    font-family: 'Roboto Condensed', 'sans-serif';
    background-color: #000;
}

table {
    border: none;
    border-spacing: 0;
    font: 13px/17px Verdana;
}

td { vertical-align: top; }

img { border: none; }

.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt12 { margin-top: 12px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }

.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }

.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }

.hd { display: none; }

.center { text-align: center !important; }

.rel { position: relative; }
.abs { position: absolute; }

.middle { vertical-align: middle !important; }

div.text { text-align: justify; }

.chart.half_width {
    width: 50%;
}

.chart {
    width: auto;
    height: 400px;
    padding: 2px 2px;
}

.chart.elo_old_vs_new {
    width: 700px;
    height: 710px;
    margin: 0 auto;
}

.chart_toolbar_container {
    position: relative;
    height: 0;
}

.chart_toolbar {
    width: 100%;
    position: absolute;
    z-index:1;
    right: 10px;
    top: 0;
    height: 30px;
    text-align: right;
    color: #CCC;
}

.chart_toolbar input.date {
    color: #FFF;
    background-color: #222;
    height: 18px;
    border: 1px solid #333;
    margin-top: 8px;
    padding: 2px 5px 2px 5px;
    font-family: 'Roboto Condensed', 'sans-serif';
}